{% extends 'base.html' %}
{% load static %}

{% block title %}{{ name }} | Blog {% endblock title %}


{% block content-area %}
<section data-id="blog" class="animated-section">
    <div class="section-content">
      <div class="page-title">
        <h2>My Blog</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="blog-masonry two-columns clearfix">

            {% for post in posts %}
            {% include "blog/includes/post.html" %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>


  </section>
{% endblock %}
