{% extends 'base.html' %}
{% load static %}

{% block title %}{{ name }} | Contact{% endblock title %}


{% block content-area %}
<!-- Contact Subpage -->
<section data-id="contact" class="animated-section">
    <div class="section-content">
      <div class="page-title">
        <h2>Contact</h2>
      </div>

      <div class="row">
        <!-- Contact Info -->
        <div class="col-xs-12 col-sm-4">
          <div class="lm-info-block gray-default">
            <i class="lnr lnr-map-marker"></i>
            <h4>Hanover, Germany</h4>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>

          <div class="lm-info-block gray-default">
            <i class="lnr lnr-phone-handset"></i>
            <h4>hidden</h4>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>

          <div class="lm-info-block gray-default">
            <i class="lnr lnr-envelope"></i>
            <h4><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></h4>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>

          <!--<div class="lm-info-block gray-default">
            <i class="lnr lnr-checkmark-circle"></i>
            <h4>Freelance Available</h4>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>-->


        </div>
        <!-- End of Contact Info -->

        <!-- Contact Form -->
        <div class="col-xs-12 col-sm-8">
          <!--<div id="map" class="map"></div>-->
          <div class="block-title">
            <h3>How Can I <span>Help You?</span></h3>
          </div>

          <div class="messages">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              <div class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
              <h3><strong>Sorry!</strong> Something went wrong.</h3>
              <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
                <li>Please make sure that the captcha verification is correct.</li>
              </ul>
            </div>
            {% endif %}
            {% if messages %}
            <div class="alert alert-success" role="alert">
              <div class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </div>
            {% endif %}
            <!---->
          </div>

          <form id="contact_form" class="contact-form" action="{% url 'core:contact' %}" method="post">
            {% csrf_token %}


            <div class="controls two-columns">
              <div class="fields clearfix">
                <div class="left-column">
                {% for field in form %}
                {% if forloop.last %}
                </div>
                <div class="right-column">
                {% endif %}
                  <div class="form-group form-group-with-icon">
                    {{ field }}
                    {{ field.label_tag }}
                    {{ field.errors }}
                    <div class="form-control-border"></div>
                    <div class="help-block with-errors"></div>
                  </div>
                {% endfor %}
                </div>
              </div>
              <!--<div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div>-->
              <input type="submit" class="button btn-send" value="Send message">
            </div>
          </form>
        </div>
        <!-- End of Contact Form -->
      </div>

    </div>
  </section>
  <!-- End of Contact Subpage -->
{% endblock %}
