{% extends 'base.html' %}
{% load static %}

{% block title %}Ole Bause | Home{% endblock title %}


{% block content-area %}

<!-- Home Subpage -->
<section data-id="home" class="animated-section start-page">
  <div class="section-content vcentered">

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="title-block">
            <h2>Ole Bause</h2>
            <div class="owl-carousel text-rotation">
              <div class="item">
                <div class="sp-subtitle">Computer Science Student</div>
              </div>

              <div class="item">
                <div class="sp-subtitle">DWH Consultant</div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
<!-- End of Home Subpage -->

{% endblock content-area %}
