{% extends 'base.html' %}
{% load static %}

{% block title %}{{ name }} | CV Resume{% endblock title %}


{% block content-area %}
<!-- Resume Subpage -->
<section data-id="resume" class="animated-section">
    <div class="section-content">
      <div class="page-title">
        <h2>Resume</h2>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-7">

          <div class="block-title">
            <h3>Education</h3>
          </div>

          <div class="timeline timeline-second-style clearfix">
            {% for item in education_items %}
            {% include "core/includes/education.html" %}
            {% endfor %}
          </div>

          <div class="white-space-50"></div>

          <div class="block-title">
            <h3>Experience</h3>
          </div>

          <div class="timeline timeline-second-style clearfix">
            {% for item in work_experience_items %}
            {% include "core/includes/experience.html" %}
            {% endfor %}
          </div>

        </div>

        <!-- Skills & Certificates -->
        <div class="col-xs-12 col-sm-5">

          <!-- Skills -->
          {% for category, data in skills_by_category.items %}

          <div class="block-title">
            <h3>{{ category }} <span>Skills</span></h3>
          </div>
          {% if data.is_percentage %}
          {% include "core/includes/skills_levels.html" %}
          {% else %}
          {% include "core/includes/skills_list.html" %}
          {% endif %}
          <div class="white-space-10"></div>
          {% endfor %}
          <!-- End of Skills -->


        </div>
        <!-- End of Skills & Certificates -->
      </div>


      <!-- Certificates -->
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="block-title">
            <h3>Certificates</h3>
          </div>
        </div>
      </div>

      <div class="row">
        {% for certificate in certificates %}
        {% include "core/includes/certificate.html" %}
        {% endfor %}
      </div>
      <!-- End of Certificates -->
    </div>
  </section>
  <!-- End of Resume Subpage -->
{% endblock %}
