{% load static %}
          <!--<div class="info-block-w-icon">
            <div class="ci-icon">
              <i class="{{ interest.icon }}"></i>
            </div>
            <div class="ci-text">
              <h4>{{ interest.title }}</h4>
              <p>{{ interest.description }}</p>
            </div>
          </div>-->

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card-container">
              <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="{{interest.image.url}}">
                        <h3>{{interest.title}}</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>{{interest.description}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
